{% extends 'main/prueba.html' %}
{% block title %}Validación Correcta{% endblock %}
{% block content %}

    <div class="container mt-5">
        <div class="text-center">
            <h1>{{ validacion }}</h1>
            <h2>Bienvenido al laboratorio</h2>

            {% if persona.lab_vision %}
                <p>al laboratorio de Visión</p>
            {% endif %}

            {% if persona.lab_robotica %}
                <p>al laboratorio de Robótica</p>
            {% endif %}

            <h2>{{ persona.nombre_completo }}</h2>

            <a class="btn btn-primary mt-3" href="{% url 'inicio' %}">Volver a inicio</a>
        </div>
    </div>

{% endblock %}
